<%= form_for(@scoreboard) do |f| %>
  <% if @scoreboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scoreboard.errors.count, "error") %> prohibited this scoreboard from being saved:</h2>

      <ul>
      <% @scoreboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_of_activity %><br>
    <%= f.text_field :name_of_activity %>
  </div>
  <div class="field">
    <%= f.label :name_of_scoreboard %><br>
    <%= f.text_field :name_of_scoreboard %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
