<h1>Room <%= @room.number %></h1>

<ul>
  <li><%= link_to 'Reservations', room_reservations_path(room_id: @room) %></li>
  <li><%= link_to 'Reserve',  new_room_reservation_path(room_id: @room) %></li>
  <li><%= link_to 'Edit', edit_room_path(@room) %></li>
  <li><%= link_to 'Back', rooms_path %></li>
</ul>
